<footer>
  <div class="footer-wrapper">
    <div class="footer-container">
      <p class="footer_current-year"><%= current_year %></p>
      <p class="footer_author-name">Aleh Razanka (C)</p>
      <p class="footer_project"><%= github_url("Rezankozzi", "TestGuru") %></p>
      <p>Creating, managing and solving tests.<p>
      <p class="footer_school"><a href="https://thinknetica.com" class="footer_project-name--link">Учебный проект в онлайн-школе Thinknetica</a></p>
    </div>
  </div>
</footer>